html, body { height: 100%; width: 100%; margin: 0; }
body
{
    color:powderblue;
    background-color: black;
}

#leftmenu
{
    width:10%; 
    height:90%;
    box-sizing: border-box;
    background-color: #240090;
    text-align: center;
    float: left;

}
#toppanel
{
    width:100%;
    height:10%;
    background-color: #190061;
    text-align: left;
    float: left;
}

#rightpanel
{
    height: 90%;
    width:90%;
    background-color: #282828;
    float: left;
}

